/*
 * @Author: migao@wangguoyan 
 * @Date: 2021-10-22 15:04:42 
 * @Last Modified by: migao@wangguoyan
 * @Last Modified time: 2021-10-22 16:57:16
 */

/** 登录form */
.loginform {
	margin-top: 0;
	padding: 20px;
	border-radius: 10px;
}

.loginformburred {
	@extend .loginform;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}
